:root {
  --surface: #f8f9fa;
  --surface-dim: #d9dadb;
  --surface-bright: #f8f9fa;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f3f4f5;
  --surface-container: #edeeef;
  --surface-container-high: #e7e8e9;
  --surface-container-highest: #e1e3e4;
  --on-surface: #191c1d;
  --on-surface-variant: #3f4944;
  --inverse-surface: #2e3132;
  --inverse-on-surface: #f0f1f2;
  --outline: #6f7973;
  --outline-variant: #bec9c2;
  --surface-tint: #1b6b51;
  --primary: #004532;
  --bs-primary: var(--primary);
  --bs-primary-rgb: 0, 69, 50;
  --on-primary: #ffffff;
  --primary-container: #065f46;
  --on-primary-container: #8bd6b7;
  --inverse-primary: #8bd6b6;
  --secondary: #ac3400;
  --on-secondary: #ffffff;
  --secondary-container: #fd6b36;
  --on-secondary-container: #5d1900;
  --tertiary: #5e3000;
  --on-tertiary: #ffffff;
  --tertiary-container: #804300;
  --on-tertiary-container: #ffb87e;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #93000a;
  --primary-fixed: #a6f2d1;
  --primary-fixed-dim: #8bd6b6;
  --on-primary-fixed: #002116;
  --on-primary-fixed-variant: #00513b;
  --secondary-fixed: #ffdbd0;
  --secondary-fixed-dim: #ffb59d;
  --on-secondary-fixed: #390c00;
  --on-secondary-fixed-variant: #832600;
  --tertiary-fixed: #ffdcc3;
  --tertiary-fixed-dim: #ffb77d;
  --on-tertiary-fixed: #2f1500;
  --on-tertiary-fixed-variant: #6e3900;
  --background: #f8f9fa;
  --on-background: #191c1d;
  --surface-variant: #e1e3e4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface: #2e3132;
    --surface-dim: #d9dadb;
    --surface-bright: #f8f9fa;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #f3f4f5;
    --surface-container: #edeeef;
    --surface-container-high: #e7e8e9;
    --surface-container-highest: #e1e3e4;
    --on-surface: #191c1d;
    --on-surface-variant: #3f4944;
    --inverse-surface: #2e3132;
    --inverse-on-surface: #f0f1f2;
    --outline: #6f7973;
    --outline-variant: #bec9c2;
    --surface-tint: #1b6b51;
    --primary: #004532;
    --bs-primary: var(--primary);
    --bs-primary-rgb: 0, 69, 50;
    --on-primary: #ffffff;
    --primary-container: #065f46;
    --on-primary-container: #8bd6b7;
    --inverse-primary: #8bd6b6;
    --secondary: #ac3400;
    --on-secondary: #ffffff;
    --secondary-container: #fd6b36;
    --on-secondary-container: #5d1900;
    --tertiary: #5e3000;
    --on-tertiary: #ffffff;
    --tertiary-container: #804300;
    --on-tertiary-container: #ffb87e;
    --error: #ba1a1a;
    --on-error: #ffffff;
    --error-container: #ffdad6;
    --on-error-container: #93000a;
    --primary-fixed: #a6f2d1;
    --primary-fixed-dim: #8bd6b6;
    --on-primary-fixed: #002116;
    --on-primary-fixed-variant: #00513b;
    --secondary-fixed: #ffdbd0;
    --secondary-fixed-dim: #ffb59d;
    --on-secondary-fixed: #390c00;
    --on-secondary-fixed-variant: #832600;
    --tertiary-fixed: #ffdcc3;
    --tertiary-fixed-dim: #ffb77d;
    --on-tertiary-fixed: #2f1500;
    --on-tertiary-fixed-variant: #6e3900;
    --background: #f8f9fa;
    --on-background: #191c1d;
    --surface-variant: #e1e3e4;
  }
}
